<div class="d-flex flex-column">
  <h1 mat-dialog-title>{{title}}</h1>
  <mat-dialog-content>
    <form [formGroup]="addEditFormGroup" class="m-t-10">
      <mat-card class="m-b-20">
        <div class="d-flex flex-row flex-wrap">
          <div>
            <mat-icon class="m-r-10">account_circle</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Phone Name"
                     formControlName="nameCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">local_phone</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Brand"
                     formControlName="phoneCtrl"
                     [errorStateMatcher]="matcher"
                     [matAutocomplete]="brands"
                     required>
              <mat-autocomplete #brands=matAutocomplete [displayWith]="brandDisplay">
                <mat-option *ngFor="let brand of brandsDS" [value]="brand">
                  {{brand.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">insert_photo</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Photo Link"
                     formControlName="photoCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">monetization_on</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Price"
                     formControlName="priceCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <mat-card class="m-b-20">
        <mat-card-header>
          <mat-card-title>Specs</mat-card-title>
        </mat-card-header>
        <div class="d-flex flex-row flex-wrap">
          <div>
            <mat-icon class="m-r-10">memory</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Ram Capacity (GB)"
                     formControlName="ramCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">device_hub</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Ram Type"
                     formControlName="ramTypeCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">phonelink_setup</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="CPU"
                     formControlName="cpuCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">shutter_speed</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Clock Speed"
                     formControlName="clockSpeedCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">bluetooth</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Bluetooth"
                     formControlName="bluetoothCtrl"
                     [errorStateMatcher]="matcher"
                     [matAutocomplete]="bOpiton"
                     required>
              <mat-autocomplete #bOpiton=matAutocomplete [displayWith]="bluetoothDisplay">
                <mat-option *ngFor="let option of bluetoothDS" [value]="option">
                  {{bluetoothDisplay(option)}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">network_cell</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Network Support"
                     formControlName="networkCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">sd_storage</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Storage Capacity"
                     formControlName="storageCtrl"
                     [errorStateMatcher]="matcher"
                     required>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <mat-card class="m-b-20">
        <mat-card-header>
          <mat-card-title>Release Date & Type</mat-card-title>
        </mat-card-header>
        <div class="d-flex flex-row flex-wrap">
          <div>
            <mat-icon class="m-r-10">date_range</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     [matDatepicker]="picker"
                     placeholder="Release Date"
                     formControlName="dateCtrl"
                     [errorStateMatcher]="matcher"
                     required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-icon class="m-r-10">smartphone</mat-icon>
            <mat-form-field class="m-r-20 m-b-30">
              <input matInput
                     placeholder="Type"
                     formControlName="typeCtrl"
                     [errorStateMatcher]="matcher"
                     [matAutocomplete]="pType"
                     required>
              <mat-autocomplete #pType=matAutocomplete [displayWith]="phoneTypeDisplay">
                <mat-option *ngFor="let type of phoneTypeDS" [value]="type">
                  {{type.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-dialog-content>
  <div mat-dialog-actions class="ml-auto">
    <button mat-button color="warn" [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!canClose" [mat-dialog-close]="result">{{finishAction}}</button>
  </div>
</div>
