.phone {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 700px;
}

.price {
  font-size: 16px !important;
  font-weight: bold;
  color: #00c853;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.fab-toggler {
  float: right;
  z-index: 100;
}

.comparison-opts {
  margin-left: calc(50% - 77px);
  position: fixed;
  z-index: 100;
  bottom: 45px;
}

.queries {
  display: inline-block;
  margin-right: 10px;
}

.green {
  background-color: aquamarine;
}

.yellow {
  background-color: #faff7e;
}

.red {
  background-color: #ff5b58;
}
