<div class="container">
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div *ngFor="let phone of phonesDS" class="m-t-35 phone">
      <mat-card [ngClass]="{'mat-elevation-z5': phone.isSelected}">
        <mat-card-header>
          <mat-checkbox *ngIf="comparisonMode" (change)="onCompareSelect(phone, $event)" class="ml-auto"></mat-checkbox>
          <mat-card-title>{{phone.name}}</mat-card-title>
          <mat-card-subtitle>{{phone.brand.name + ' ' + phone.phoneType.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{phone.imageLink}}">
        <mat-card-content>
          <mat-card class="m-b-10">{{'Release Date: ' + (phone.releaseDate | date)}}</mat-card>
          <mat-accordion class="m-t-10">
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Specs
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list role="list">
                <mat-list-item *ngIf="phone.specs.ramType" role="listitem">
                  {{'Ram Type: ' + phone.specs.ramType}}
                </mat-list-item>
                <mat-list-item *ngIf="phone.specs.ramCapacity" role="listitem">
                  {{'Ram Capacity: ' + phone.specs.ramCapacity}}
                </mat-list-item>
                <mat-list-item *ngIf="phone.specs.cpu" role="listitem">
                  {{'CPU: ' + phone.specs.cpu}}
                </mat-list-item>
                <mat-list-item *ngIf="phone.specs.clockSpeed" role="listitem">
                  {{'Clock Speed: ' + phone.specs.clockSpeed}}
                </mat-list-item>
                <mat-list-item role="listitem">
                  {{'Bluetooth: ' + (phone.specs.bluetooth ? 'yes' : 'no')}}
                </mat-list-item>
                <mat-list-item role="listitem">
                  {{'Network Support: ' + phone.specs.networkSupport}}
                </mat-list-item>
                <mat-list-item *ngIf="phone.specs.storageCapacity" role="listitem">
                  {{'Storage Capacity: ' + phone.specs.storageCapacity}}
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-card class="price m-t-10 text-right">
            {{'Price: ' + phone.price + ' lei'}}
          </mat-card>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" (click)="buyPhone(phone)">Buy</a>
          <a mat-raised-button (click)="displayReviews(phone)">Reviews</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!comparisonMode" class="fab-container">
  <button mat-fab color="accent" class="fab-toggler"
          (click)="onSort()">
    <mat-icon>sort</mat-icon>
  </button>
</div>

<div *ngIf="comparisonMode" class="d-flex flex-row comparison-opts">
  <mat-chip-list>
    <mat-chip color="primary" class="mat-elevation-z24" (click)="compare()" selected>Compare</mat-chip>
    <mat-chip color="warn" class="mat-elevation-z24" (click)="exitComparisonMode()" selected>Cancel</mat-chip>
  </mat-chip-list>
</div>
