<div class="container" *ngIf="!productsPage">
  <div class="row m-t-20">
    <div class="col-xs-12 col-md-4 col-centered text-center">
      <label>Log in with existing account</label>
      <br>
      <mat-form-field class="input">
        <input matInput
               placeholder="example@example.com"
               [formControl]="emailFormControlLogIn"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="(emailFormControlLogIn.hasError('email') && !emailFormControlLogIn.hasError('required'))
                                                || emailFormControlLogIn.invalid">
          {{errorMessageMail}}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
        <input matInput
               placeholder="Password"
               [formControl]="passLogInControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="passLogInControl.hasError('required') || passLogInControl.invalid">
          {{errorMessagePassword}}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-stroked-button (click)="logIn($event)">Log In</button>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-md-4 col-centered text-center">
      <mat-divider class="m-t-20"></mat-divider>
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-md-4 col-centered text-center">
      <label>Create a new account</label>
      <br>
      <mat-form-field class="input">
        <input matInput
               placeholder="Full Name"
               type="text"
               [formControl]="nameControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameControl.hasError('required') || nameControl.invalid">
          {{errorMessageName}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput
               placeholder="example@example.com"
               [formControl]="emailFormControlSignIn"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="(emailFormControlSignIn.hasError('email') && !emailFormControlSignIn.hasError('required'))
                        || emailFormControlLogIn.invalid">
          {{errorMessageMail}}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
        <input matInput
               placeholder="Password"
               [formControl]="passSignInControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="passSignInControl.hasError('required') || passSignInControl.invalid">
          {{errorMessagePassword}}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-stroked-button (click)="signIn($event)">Create new account</button>
    </div>
  </div>
</div>
