<div class="d-flex flex-column">
  <h1 mat-dialog-title>Comparison</h1>
  <mat-dialog-content>
    <div class="d-flex flex-row flex-wrap justify-content-around">
      <mat-card *ngFor="let phone of phones.phones" class="phone">
        <mat-card-header>
          <mat-card-title>{{phone.name}}</mat-card-title>
          <mat-card-subtitle>{{phone.brandId.name + ' ' + phone.typeId.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="m-t-10" *ngIf="diff('ramType')">
            {{'Ram Type: ' + (phone.specsId.ramType | exists)}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('ramCapacity')">
            {{'Ram Capacity: ' + (phone.specsId.ramCapacity | exists)}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('cpu')">
            {{'CPU: ' + (phone.specsId.cpu | exists)}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('clockSpeed')">
            {{'Clock Speed: ' + (phone.specsId.clockSpeed | exists)}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('bluetooth')">
            {{'Bluetooth: ' + (phone.specsId.bluetooth ? 'yes' : 'no')}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('networkSupport')">
            {{'Network Support: ' + phone.specsId.networkSupport}}
          </mat-card>
          <mat-card class="m-t-10" *ngIf="diff('storageCapacity')">
            {{'Storage Capacity: ' + (phone.specsId.storageCapacity | exists)}}
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="ml-auto">
    <button mat-raised-button color="primary" [mat-dialog-close]="undefined">Ok</button>
  </div>
</div>
