<div class="container">
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div *ngFor="let patient of patientDS" class="m-t-35 person">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{patient.name}}</mat-card-title>
          <mat-card-subtitle>{{patient.age + ' years old'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{patient.pic}}">
        <mat-card-actions>
          <a mat-raised-button color="primary" (click)="moreDetails(patient)">More</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="fab-container">
  <button mat-fab color="accent" class="fab-toggler"
          (click)="onAddPatient()">
    <mat-icon>add</mat-icon>
  </button>
</div>
