<ngx-loading-bar></ngx-loading-bar>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="/home"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}">
    <mat-icon class="m-r-3">home</mat-icon>
    Home
  </a>
  <a mat-tab-link
     routerLink="/news"
     routerLinkActive="active">
    <mat-icon class="m-r-3">fiber_new</mat-icon>
    Latest News</a>

  <a mat-tab-link
     routerLink="/login"
     routerLinkActive="active">Log/Sign in</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
