@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px;
}


.m-l-10 {
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-20 {
  margin-right: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.input {
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

