<section>
  <div class="middle">
    <div class="container content">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="m-t-10">
            <mat-card-content>
              <img class="img-responsive" src="http://www.recycleryt.com/img/slider/img1.jpg" style="width: 1078px"/>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <article>
            <mat-card class="m-t-10">
              <mat-card-header>
                <mat-card-title>Covid undermines latest diabetes results</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Posted by <a href="#">Vali</a> | Filed under <a href="#">COVID</a>, <a href="#">DIABETES</a></p>
                <p>Subjects checked into the SAFE laboratory at BIDMC CRC. Instrumentation for head-up tilt: ECG, blood
                  pressure (BP), TCD of the middle cerebral artery (MCA) and brachial artery (BRA), CO2, O2, and
                  respiration monitoring. After resting for 10 minutes, a Valsalva maneuver test was performed twice.
                  Then the subject hyperventilated or 3 minutes and breathed a mixture of air with 5% CO2 (rebreathing
                  test) in a supine position to assess cerebral vasoreactivity and vasomotor range. Then subject was
                  allowed to rest and subsequently, the table was moved to upright positon at 70 degrees for a 5-minute
                  head-up tilt baseline test. After 5 minute rest, the tilt was repeated and the subject repeated
                  3-minute hyperventilation and followed CO2 rebreathing test in upright position.</p>
                <p><a href="#">Read more</a> | April 23</p>
              </mat-card-content>
            </mat-card>

          </article>
          <article>
            <mat-card class="m-t-10">
              <mat-card-header>
                <mat-card-title>Life expectancy increased to 70%</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Posted by <a href="#">Andrei</a> | Filed under <a href="#">LIFE</a>, <a href="#">NUMBERS</a></p>
                <p>After diabetes diagnosis, many type 1 and type 2 diabetics worry about their life expectancy.
                  People with type 1 diabetes have traditionally lived shorter lives, with life expectancy having been
                  quoted as being reduced by over 20 years.

                  However, improvement in diabetes care in recent decades indicates that people with type 1 diabetes are
                  now living significantly longer.

                  Results of a 30 year study by the University of Pittsburgh, published in 2012, noted that people with
                  type 1 diabetes born after 1965 had a life expectancy of 69 years.

                  People with type 1 diabetes will, in the majority of cases, develop diabetes at a younger age than
                  those with type 2 diabetes, therefore they will usually spend a longer period of their life living
                  with the condition.

                  However, there is good news – people with type 1 diabetes have been known to live for as long as over
                  85 years with the condition. As noted above, recent studies into life expectancy are showing
                  significant improvement in life expectancy rates for people with type 1 diabetes born later in the
                  20th century.</p>
                <p><a href="#">Read more</a> | April 28</p>
              </mat-card-content>
            </mat-card>
          </article>
        </div>
        <div class="col-md-3">
          <aside>
            <mat-card class="m-t-10">
              <mat-card-header>
                <mat-card-title>Updates</mat-card-title>
                <mat-card-subtitle>monthly</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p><strong>March</strong> - Subjects checked in at the MRI Center showed vital signs of improvement</p>
                <p><strong>April</strong> - Recordings during baseline head-up tilt test were 85% positive without care
                  to the benign sympthoms</p>
              </mat-card-content>
            </mat-card>


            <mat-card class="m-t-10">
              <mat-card-header>
                <mat-card-title>Sponsors</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h5>UNICEF</h5>
                <p>We belive that we are on the face of the earth to make great products and that's not changing. We are
                  constantly focusing on innovating.</p>

                <h5>Herbalife</h5>
                <p>As a result of the 2016 FTC settlement, the company is required to prove that at least 80 percent of
                  its sales are made to individuals outside of its distributor network.</p>
              </mat-card-content>
            </mat-card>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
