<div class="d-flex flex-column">
  <h1 mat-dialog-title class="m-b-5">Add job</h1>
  <mat-card-subtitle>Add job for current user</mat-card-subtitle>
  <mat-dialog-content>
      <mat-card class="mat-elevation-z2 m-b-10">
        <div class="d-flex flex-column">
          <mat-form-field>
            <input matInput placeholder="title" rows="3" [(ngModel)]="title">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="description" rows="3" [(ngModel)]="description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="period" rows="3" [(ngModel)]="period">
          </mat-form-field>
        </div>
      </mat-card>
  </mat-dialog-content>
  <div mat-dialog-actions class="ml-auto">
    <button mat-raised-button color="primary" (click)="addJob()"
            [mat-dialog-close]="{title: title, description: description, period: period}">Add</button>
  </div>
</div>
