<div class="d-flex flex-column">
  <h1 mat-dialog-title class="m-b-5">Reviews for {{phone.phone.name}}</h1>
  <mat-card-subtitle>{{phone.phone.brandId.name + ' ' + phone.phone.typeId.name}}</mat-card-subtitle>
  <mat-dialog-content>
    <div class="d-flex flex-column">
      <mat-card *ngFor="let review of reviewsDS" class="m-b-10 m-t-10">
        <mat-card-header>
          <mat-card-title>{{review.userName ? review.userName : 'Anonymous'}}</mat-card-title>
          <mat-card-subtitle>{{review.date | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{review.content}}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z2 m-b-10">
        <mat-form-field>
          <textarea matInput placeholder="Enter comment" rows="3" [(ngModel)]="content"></textarea>
        </mat-form-field>
        <br>
        <button mat-stroked-button (click)="addReview()">Submit</button>
      </mat-card>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="ml-auto">
    <button mat-raised-button color="primary" [mat-dialog-close]="undefined">Ok</button>
  </div>
</div>
