<div class="container">
  <mat-card class="m-t-20 red">
    <mat-card-content>
      <label class="queries">Number of users interested in programming:</label>
      <label style="display: inline-block">{{numProgramming}}</label>
    </mat-card-content>
  </mat-card>
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <div *ngFor="let person of persons" class="m-t-35 phone">
        <mat-card *ngIf="person.isInterestedInProgramming">
          <mat-card-header>
            <mat-card-title>{{person.name}}</mat-card-title>
            <mat-card-subtitle>{{person.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list class="m-b-10" role="list">
              <ng-container *ngFor="let course of person.extraCourses">
                <mat-card *ngIf="course.isInLastThreeYears" [ngClass]="{'m-t-10': true, 'mat-elevation-z5': true}">
                  <mat-list-item>
                    {{'Name: ' + course.name}}
                  </mat-list-item>
                  <mat-list-item>
                    {{'Year: ' + course.year}}
                  </mat-list-item>
                </mat-card>
              </ng-container>
            </mat-list>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
