<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <mat-card class="m-t-10">
      <mat-card-title>Monthly Sales</mat-card-title>
    </mat-card>
    <canvas class="m-t-20 chart mat-elevation-z1"
            mdbChart
            [chartType]="CHART_TYPE_BAR"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>

